
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<button class="btn btn-default" id="getSomeData">Get Weather</button>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
    <script language="javascript">
        $("#getSomeData").click(function () {
            $.ajax({
                type: "GET",
                url: 'https://api.weather.gov/',
                success: function (data) {
                    alert(data.value);
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
    </script>

}
